# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
.env.local

# FastAPI / Logs
*.log
*.sqlite3

# Node / Angular
node_modules/
dist/
build/

# Docker
*.pid
*.seed
*.pid.lock

# IDEs
.vscode/
.idea/

# Otros
.DS_Store
